// ./Styles.css

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    user-select: none;
}

header{
    top: 0;
    width: 100vw;
    background: lighten(black, 90);
    height: 10vh;
    // line-height: 10vh;
    .userImg{
        height: 60px;
        width: auto;
        // background: #555;
        // border-radius: 50%;
        float: right;
        margin: 1vh 5vh;
        background-size: cover;
        background-position: center;
        padding: 1px;
    }

    h1{
        margin: 20px 20px;
    }

    .menu{
        font-size: 3em;
        line-height: 10vh;
        margin: 0 5vw;
        transition: 0.3s ease;
        &:hover{
            color: #4CAF50;
            cursor: pointer;
        }
    }
    /* Style The Dropdown Button */
    .dropbtn {
        // color: white;
        color: #4CAF50;
        border: 2px #4CAF50 solid;
        padding: 10px 32px;
        font-size: 16px;
        // border: none;
        cursor: pointer;
        margin: 2vh 20px;
        border-radius: 20px;
        transition: 0.4s ease;
        &:hover{
            border-color: #3e8e41;
            color: whitesmoke;
        }
        &:hover > a{
            color: whitesmoke;
        }
        a{
            color: #4CAF50;
            cursor: pointer;
        }
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
        background-color: #f1f1f1
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }
    .dropdown:hover .dropbtn a {
        // background-color: #3e8e41;
        color: white;
    }
    
}

section{
    overflow-y: scroll;
    top: 10vh;
    width: 100vw;
    // background: lightgreen;
    height: 80vh;

    #molePalletSelected{
        cursor: pointer;
    }
}

footer{
    bottom: 0;
    width: 100vw;
    height: 10vh;
    // background: lightslategrey;
    line-height: 10vh;
    position: absolute;
    // display: inline;
    i{  
        transform: scale(2);
        margin: 20px 40px;
        transition: 0.2s ease;
        color: lighten(black, 25);
        &:hover {
            cursor: pointer;
            color: limegreen;
            transform: scale(2.4);
        }
    }

    .slider {
        -webkit-appearance: none;
        width: 12vw;
        height: 5px;
        background: #d3d3d3;
        border-radius: 20px;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }
    
    .slider:hover {
        opacity: 1;
    }
    
    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: limegreen;
        cursor: pointer;
    }

    .slider::-moz-range-thumb {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: limegreen;
        cursor: pointer;
    }
}


// .square{
//     fill: #fff;
//     border: #555 2px solid;
//     stroke-dasharray: 200;
//     stroke: #242424;
//     stroke-width: 3px;
//     stroke-dashoffset: 100;
// }

